<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <title>chart</title>
   
        </head>
        <body>
                <div id="chart"></div>
        <script type="text/javascript">
    if ("{{ chart }}" == "bar"){
            d3.selectAll("h1").style("color","red");
            // var svg = dimple.newSvg("body", 1000, 1000,"margin",200);
            
            var svg = d3.select("body")
                .append("svg")
                .attr("width",1000)
                .attr("height", 1000);          

            var data = {{a|tojson|safe}};
            console.log(data);
            var chart = new dimple.chart(svg, data);
            chart.addCategoryAxis("x", "latitude");
            chart.addMeasureAxis("y", "mag");
            chart.addSeries(null, dimple.plot.bar);
            chart.draw();}
            
    else if("{{ chart }}" == "pie")
    {
    
        var data = {{ a|tojson|safe }};
    // var svg = dimple.newSvg("#chartContainer", 590, 400);
    var svg = d3.select("body")
                .append("svg")
                .attr("width",10000)
                .attr("height", 10000)
                .attr("margin",200);
            
    
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(20, 20, 460, 360)
      myChart.addMeasureAxis("p", "latitude");
      myChart.addSeries("mag", dimple.plot.pie);
      myChart.addLegend(500, 20, 90, 300, "left");
      myChart.draw();
    

    }


    else if("{{ chart }}" == "scatter")
{   
    var svg = d3.select("body")
                .append("svg")
                .attr("width",10000)
                .attr("height", 10000)
                .attr("margin",200);
            
    var data = {{ a|tojson|safe }};
    var myChart = new dimple.chart(svg, data);
         myChart.setBounds(60, 30, 900, 500)
           var x = myChart.addMeasureAxis("x", "latitude");
           var y = myChart.addMeasureAxis("y", "mag");
           myChart.addSeries(["latitude", "mag"], dimple.plot.bubble);
           myChart.addLegend(200, 10, 360, 20, "right");
           x.overrideMax = 50.00000000;
           x.overrideMin = -50.00000000;
           y.overrideMax = 10.00000000;
           y.overrideMin = -10.00000000;
           x.ticks = 10;
           x.ticks = 10;
           x.tickFormat = ',.7f';
           y.tickFormat = ',.7f';
           myChart.draw();
   }
   else{

   }

          </script>
          
        
</body>
</html>