<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz 04</title>
</head>
<body>
     <div class="container" id="container">
        <h1>1001676558 Kant, Vijay</h1>
     <div style="padding: 5px;">
  <fieldset>
		<legend><h2>Between 5-10 M</h2><br></legend>
		<br>
        <form method="POST" action="/Search5" enctype="multipart/form-data">
      
        <input type="submit" value="States Name">
        </form><br>
        </fieldset>


    <fieldset>
    <legend><h2>Between 10-50M M</h2><br></legend>
    <br>
        <form method="POST" action="/Search10" enctype="multipart/form-data">
      
        <input type="submit" value="States Name">
        </form><br>
        </fieldset>    

<fieldset>
    <legend><h2>Input</h2><br></legend>
    <br>
        <form method="POST" action="/chart5" enctype="multipart/form-data">
        Text <input type="text" name="nvalue">       
        <input type="submit" value="value of N">
        </form><br>
        </fieldset>


</body>
</html>